{% extends 'base.html' %}
{% load static %}
{% block content %}

<div style="margin-top: 200px; padding: 50px;">
    <h1 style="text-align: center;">Registration</h1>
    <form class="form" method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {% for f in form %}
            <p style="margin: 5px;" class="form-label" for="{{ f.id_for_label }}"> 
                {{f.label}}: 
            </p>{{f}}
        {% endfor %}
        <p style="margin: 5px 0px;">
            <button type="submit" class="btn btn-primary">Register</button>
        </p>  
    </form>
</div>
{% endblock %}